*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
:root
    {
        --fn-small: 1.2rem;
        --some-gray: #4c4c4c;
        --purple-my-color: #b000e6;
        --gray-linght: #adafb0;
        --gray: #454545;
        --thirt-gray:#373737;
        --myBlack: #141414;
    }
html
    {
        font-size: 62.5%;
    }
body
    {
        height: 200vh;
        background-image: linear-gradient(to top, #454545, #141414 50%);
        background-repeat: no-repeat;
        color: var(--purple-my-color);
    }
header
    {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 150px;
        justify-content: center;
    }
header i
    {
        position: absolute;
        font-size: 46px;
        left: 4%;
    }
header figure
    {
        background-image: url("../assets/logos/Jes.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 140px;
        height: 122px;
    }
